body {
    font-size: 14px;
    font-family: 'Roboto',
        sans-serif;
    color: var(--primary-text-color-black);
    background-color: var(--primary-background-color-black);
    line-height: 1.14;
    letter-spacing: 0.03em;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*  Прибираємо маркування у списків */
.link {
    text-decoration: none;
}

/* Прибираємо підкреслення у посилань */
.list {
    list-style-type: none;
}

// @media screen and (min-width: 768px) {

//     /* padding-top - висота для фіксованого меню (щоб контент не попав під хедер) */
//     body {
//         padding-top: 80.67px;
//     }
// }

// @media screen and (min-width: 1200px) {

//     /* padding-top - висота для фіксованого меню (щоб контент не попав під хедер) */
//     body {
//         padding-top: 80.83px;
//     }
// }