
.header-block {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(93,48,133,255);
}
.header-logo-img {
    width: 70px;
    height: 70px;
}
.header-mobile-menu-open, .header-mobile-menu-close {
    border: 0;
    background: transparent;
    cursor: pointer;
}

