.hero {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 500px;
    width: 100%;
    background-image: url(../../images/services/test_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}